
<div class="row mt-5 justify-content-center ">
  <div class="col-xl-2 col-md-4 d-flex align-items-stretch update_product">
    <div class="w-100 p-3">
      <h1>Новый товар</h1>
<%= render "form", product: @product %>
    </div>
  </div>
</div>
<br>

